body {
    margin: 0;
    padding: 0;

    background:black;

    font-family:'zapfino';
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 25px;
    text-align: center;
}

.container {

    width: 1400px;
    height: 787px; /* can I make this a calculated value? */

    border-radius: 10px;

    background:url("../img/jd.jpg");
    background-size: 102%; /* slightly oversized bc of borde radius*/
    background-repeat: no-repeat;
    background-position: -10px -10px;

    color:whitesmoke;

    display: flex;
    flex-direction: row;
}

.left {
    width: 30%;
    display: flex;
    
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-start;
}
.right {
    padding-top: 40px;
    padding-left: 0px;
    width: 70%;
}

img {
    margin: 0 auto;
    display: block;
    width: 40%;
}